*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

nav {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
}

.flag {
  width: 10px;
  height: 6px;
  margin-left: 2px;
  background: cyan;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.visible {
  visibility: hidden;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer-input {
  display: flex;
}

.resultContainer {
  display: flex;
  flex-direction: column;
}

.resultContainer-result {
  display: flex;
}
