@import url("https://fonts.googleapis.com/css2?family=Mada:wght@400;600&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mada", sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

h1 {
  margin-bottom: 30px;
}

nav {
  position: fixed;
  top: 20px;
  right: 30px;
  display: flex;
}

.flag {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  display: none;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.visible {
  visibility: hidden;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer-input {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

.inputContainer-input-input {
  display: flex;
}

input[type="text"] {
  width: 40px;
  height: 30px;
  border-radius: 5px;
}

label {
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  font-size: 1.2em;
}

.input-para {
  width: 25px;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  padding-left: 5px;
  font-size: 1.2em;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

#btn {
  width: 70px;
  height: 25px;
  margin-top: 15px;
  border: solid 2px;
  border-radius: 5px;
  font-family: "Mada", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
}

#btn:hover {
  border: white 2px solid;
  color: white;
  background: black;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  height: 250px;
}

.resultContainer-result {
  display: flex;
}

.resultContainer-result p {
  padding-top: 7px;
  margin-right: 48px;
}

.errorSpan {
  font-size: 0.75em;
  color: rgb(231, 31, 31);
}

#result {
  width: 300px;
}
